<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
  <a href="#users/show/<%= id %>" class="showUser">View</a>
  <a href="#users/edit/<%= id %>" class="editUser">Edit</a>
  <a href="#userss/delete/<%= id %>" class="delUser">Delete</a>
</td>