<form role="form">
    <fieldset>
        <div class="form-group">
            <label for="username">Username: </label>
            <input type="text" class="form-control" id="username" placeholder="">
        </div>

        <div class="form-group">
            <label for="Password">Password: </label>
            <input type="password" class="form-control" id="Password" placeholder="">
        </div>

        <div class="form-group">
            <label for="ConfirmPassword">Confirm Password: </label>
            <input type="password" class="form-control" id="ConfirmPassword" placeholder="">
        </div>
    </fieldset>
</form>