<div class="panel panel-default">
  <div class="panel-heading">
    <h3>My Nuggets</h3>
    <p>From here you can manage your contributed nuggets</p>
  </div>
  <div class="panel-body">
    <div style="margin-bottom: 20px;">
      <button class="addNugget btn btn-primary">New Nugget</button>
      <button class="editNugget btn btn-default">Edit Nugget</button>
      <button class="delNugget btn btn-default">Delete Nugget</button>
    </div>
    <div id="#nuggets-grid-container">
    </div>
  </div>
  <div class="panel-footer">
    Copyright &copy; 2013 - EMMAPS Lab
  </div>
</div>