<ul class="nav nav-tabs" style="margin-bottom: 20px;">
  <li><a href="#nuggets/moderated">My Moderated Nuggets</a></li>
  <li class="active"><a href="#nuggets/unmoderated">Awaiting Moderation</a></li>
</ul>

<div class="tab-pane active" id="#unmoderated">
  <div id="NuggetsGrid">
    <p>Unmoderated nuggets...</p>
  </div>
</div>