<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First Coast Green Map</title>
  <link href="/assets/application.css" media="all" rel="stylesheet" />
  <script src='/assets/application.js'></script>
</head>
<body>
  <!-- Header navigation goes here -->
  <div id="#header"></div>

  <!-- Main page wrapper goes here -->
  <div id="wrapper" class="col-md-12 clearfix">
    <!-- 2-column content -->
    <div id="content">
      <!-- Left nav goes here -->
      <div id="#backbone-nav"></div>

      <!-- Content panel goes here -->
      <div id="#backbone-content"></div>
    </div>
  </div>

  <!-- Footer goes here -->
  <div id="footer"></div>

  <script>
    $(function() {
      new Motherlode();
    })
  </script>
</body>
</html>
