<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="margin-top: 0">Edit County</h3>
    <p>From here you can make changes to the selected county</p>
  </div>
  <div class="panel-body">

  </div>
  <div class="panel-footer">
    <button class="btn btn-primary .saveCategory">Save Changes</button>
    <button class="btn btn-link">Cancel</button>
  </div>
</div>