<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
  <a href="#counties/show/<%= id %>" class="showCounty">View</a>
  <a href="#counties/edit/<%= id %>" class="editCounty">Edit</a>
  <a href="#counties/delete/<%= id %>" class="delCounty">Delete</a>
</td>