<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Counties</h3>
    <p>From here you can manage nuggets based on counties in the system</p>
  </div>
  <div class="panel-body">
    <div style="margin-bottom: 20px;" class="pull-right">
      <button class="addNugget btn btn-primary">New Nugget</button>
    </div>
    <div id="#nuggets-grid-container">
    </div>
  </div>
  <div class="panel-footer">
    Copyright &copy; 2013 - EMMAPS Lab
  </div>
</div>