<div class="panel panel-default">
  <div class="panel-heading">
    <h3>My Nuggets</h3>
    <p>From here you can manage your contributed nuggets</p>
  </div>
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#moderated" data-toggle="tab">My Moderated Nuggets</a></li>
      <li><a href="#awaiting-moderation" data-toggle="tab">Awaiting Moderation</a></li>
    </ul>

    <div class="tab-content">
      <br />
      <div class="tab-pane active" id="moderated">
        <table class="table table-bordered table-striped table-condensed">
          <thead>
            <tr>
              <th>Nugget Title</th>
              <th>Created</th>
              <th>Updated</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#nugget/view/1"></a></td>
              <td></td>
              <td></td>
              <td><span class="label label-success"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="awaiting-moderation">
        <table class="table table-bordered table-striped">
        </table>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <p>You currently have <em>4</em> nugget(s)</p>
  </div>
</div>