<div class="panel panel-default">
    <div class="panel-heading">
        <h3 style="margin-top: 0">View Nugget</h3>
        <p>From here you can view your selected nugget</p>
    </div>
    <div class="panel-body">
    </div>
    <div class="panel-footer">
        <button class="btn btn-link">Close</button>
    </div>
</div>