<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>
  <a href="#categories/show/<%= id %>" class="showCategory">View</a>
  <a href="#categories/edit/<%= id %>" class="editCategory">Edit</a>
  <a href="#categories/delete/<%= id %>" class="delCategory">Delete</a>
</td>