<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="margin-top: 0">View Category</h3>
    <p>From here you can view the selected category</p>
  </div>
  <div class="panel-body">
  </div>
  <div class="panel-footer">
    <button class="btn btn-link .close">Close</button>
  </div>
</div>